*{
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;
}

#container{
    width: 100%;
}

/* This is logo-menu style */
#logo-menu{
    width: 100%;
    height: 150px;
}

#logo{
    width: 150px;
    height: 150px;
    float: left;
    margin-left: 30px;
}

#logo img{
    width: 100%;
}

#menu{
    width:700px;
    float: right;
    margin-top: 60px;
    margin-right: 20px;
}

#menu a{
    background:#C4019F;
    color: white;
    width: 150px;
    padding: 10px;
    margin-left: 40px;
    border: ridge white;
    text-decoration: none;
    font-size: 20px;
    border-top-left-radius:10px ;
    border-bottom-right-radius:10px ;
}

#menu a:hover{
    background:white;
    color:#C4019F;
    border: dotted #C4019F;   
}
/* logo-menu style ends here */

/* banner-text style starts here */
#banner{
    width: 100%;
}

img{
    width: 100%;
}

#text{
    width: 400px;
    height: 100px;
    position: absolute;
    bottom: 100px;
    margin-left: 20px;
}

#text p{
    font-weight: bold;
    font-size: 35px;
    text-align: center;
    color: white;
    background-color:#C4019F ;
    border: dashed white;
    padding: 2px;
    line-height: 50px;
}
/* banner-text style ends here */

/* This is design-about style */
#design-about{
    width: 100%;
    background: rgb(248, 243, 243);
}

.circle1{
width: 200px;
height: 200px;
background:#C4019F;
border-radius: 100%;
position: absolute;
left: 50px;
opacity: 0.2;
}

.circle2{
    width: 200px;
    height: 200px;
    background:#C4019F;
    border-radius: 100%;
    position: absolute;
    right: 20px;
    opacity: 0.2;
    }

.small-circle1{
    width: 100px;
    height: 100px;
    background:#b988b0;
    border-radius: 100%;
    position: absolute;
    left: 20px;
    opacity: 0.5;
}

.small-circle2{
    width: 70px;
    height: 70px;
    background:#b988b0;
    border-radius: 100%;
    position: absolute;
    right: 130px;
    opacity: 0.5;
  
}

#about{
    width: 850px;
    margin: auto;
}

#about h1{
   text-align:center; 
   background:#C4019F; 
   color: white; 
   border-radius: 20px;
   margin: 5px;
   font-family: Georgia, 'Times New Roman', Times, serif;
}

#about p{
    text-align: center;
    padding: 10px;
    font-size: 17px;
    line-height: 1.5;
    font-family: sans-serif;
    color: #C4019F;
}
/*  design-about style ends here */

/* This is vision-mission */

#vision-mission{
    width: 100%;
    margin-top: 30px;
}

.image{
    width: 400px;
    display: inline-block;
    margin-left: 40px;
    margin-bottom: 5px;
}

#img1{
    width: 350px;
    height: 250px;
    display: inline-block;
    margin-left: 25px;
    background-image: url(images/eye.jpg);
    background-repeat: no-repeat;
    opacity: 0.8;
    box-shadow: 5px 2px 3px rgba(196, 1, 159, 0.4) ;
}

#img2{
    width: 350px;
    height: 250px;
    display: inline-block;
    margin-left: 25px;
    background-image: url(images/mission.jpg);
    background-repeat: no-repeat;
    opacity: 0.8;
    box-shadow: 5px 2px 3px rgba(196, 1, 159, 0.4) ;
}

#img3{
    width: 350px;
    height: 250px;
    display: inline-block;
    margin-left: 25px;
    background-image: url(images/wear.jpg);
    background-repeat: no-repeat;
    opacity: 1;
    background-size: cover;
    box-shadow: 5px 2px 3px rgba(196, 1, 159, 0.4) ;
}

#before-button{
    width: 100%;
    display: flex;
    margin-top: 50px;
    background: rgb(248, 243, 243);
}

#before1{
    width: 500px;
    height: 500px;
    margin-left: 100px;
    margin-bottom: 5px;
    background-image: url(images/shop.jpg);
    background-repeat: no-repeat;
    background-size: cover;
}

#before2{
    width: 500px;
    height: 500px;
    margin-left: 100px;
    margin-bottom: 5px;
}

#before2 p{
    text-align: center; 
    margin-top: 10px; 
    font-family: sans-serif;
    line-height: 1.2; 
    color: #C4019F; 
    text-align: justify;
    padding: 5px;
}
/* This is vision-mission ends here*/

 /* This is form0 starts here */
#form0{
    width: 100%;
}
#form1{
    background:white;
    width: 400px;
    border:groove  rgba(196, 1, 159, 1) ;
    margin-left: 500px;
    border-radius: 20px;
}

input[type=text]{
    margin-left: 45px;
}

input{
    width: 30%;
    padding-bottom: 10px;
    margin-bottom: 20px;
    margin-top: 10px;
    border: dotted;
    margin-left: 20px;
    background: rgba(196, 1, 159, 0.4);
}
label{
    color: rgba(196, 1, 159, 1);
    font-size: 18px;
    margin-left: 10px;
    font-weight: bold;
}

input[type=email]{
    margin-left: 82px;
}

input[type=date]{
    margin-left: 30px;
}

input[type=number]{
    margin-left: 15px;
}


input[type=password]{
    margin-left: 55px;
}

input[type=radio]{
    width: 10%;
}

input[name=gender]{
    color: rgba(196, 1, 159, 1) ;
}

button{
    width: 200px;
    background:rgba(196, 1, 159, 1);
    margin-left: 100px;
    margin-top: 20px;
    margin-bottom: 20px;
    padding: 10px;
    border: groove white;
    color: white;
    font-weight: bold;
    font-size: 20px;
}

::placeholder{
    color: white;
}
/* This is form0 ends here */

/* top styles starts here */
#top{
    width: 100%;
    background:rgba(196, 1, 159, 1);;
    
}

#top p{
    text-align: right;
    padding: 10px;
}

#top a{
    color: white; 
    text-decoration: none;
     font-size: 18px;
}

/* top style ends here */

/* footer style starts here */
#footer{
    width: 100%; 
    background-color:rgba(196, 1, 159, 1); 
    margin-top: 10px;
}

#footer p{
    text-align: center; 
    padding-top: 40px; 
    color: white;  
    font-size: 18px;
    font-style: italic;
    font-weight:500;
}

#footer a{
       color: white;
       padding-left: 10px; 
       padding-bottom: 10px;
}
/* This is mobile responsive */
@media screen and (max-width: 880px){
/* This logo-menu responsive */
    #logo{
        margin-left: 150px;
    }

    #menu a{
        width: 100%;
        display: block;
        margin-left: 0px;
        text-align: center;
        margin-bottom: 5px;
    }

    #menu{
        width: 100%;
        margin-top:0px;
        margin-right:0px;
    }
    
/* logo-menu responsive ends*/

/* This is banner-text responsive */
    #text{
        width: 250px;
        height: 100px;
        position: absolute;
        top: 500px;
        margin-left: 10px;
    }

    #text p{
        font-weight: bold;
        font-size: 20px;
        text-align: center;
        color: white;
        background-color:#C4019F ;
        border: dashed white;
        padding: 2px;
        line-height: unset;
    }

/* banner-text responsive ends here */

    /* This is design-about responsive */
.circle1{
    width: 200px;
    height: 200px;
    background:#C4019F;
    border-radius: 100%;
    position: absolute;
    left: 100px;
    opacity: 0.2;
    }
    
    .circle2{
        width: 200px;
        height: 200px;
        background:#C4019F;
        border-radius: 100%;
        position: absolute;
        right: 100px;
        opacity: 0.2;
        }
    
    .small-circle1{
        width: 70px;
        height: 70px;
        background:#b988b0;
        border-radius: 100%;
        position: absolute;
        left: 190px;
        opacity: 0.3;
    }
    
    .small-circle2{
        width: 70px;
        height: 70px;
        background:#b988b0;
        border-radius: 100%;
        position: absolute;
        right: 190px;
        opacity: 0.3;
      
    }

    #about{
        width: 100%;
        position: absolute;
        left: 0px;
        top: 900px;
    }

    #about h1{
        text-align:center; 
        background:#C4019F; 
        color: white; 
        border-radius: 20px;
        margin: 5px;
        font-family: Georgia, 'Times New Roman', Times, serif;
        font-size: 20px;
        margin-top: 40px;
     }
     
     #about p{
         text-align: justify;
         padding: 5px;
         font-size: 16px;
         line-height: 1.5;
         font-family: sans-serif;
         color: #C4019F;
     }
     
    /* design-about responsive ends here */
     
     /*vision-mission responsive starts here */

     #vision-mission{
        width: 100%;
        margin-top: 650px;
    }

    .image{
        width: 100%;
        display:inline-block;
        margin: 0px;
    }

    #img1{
        width: 100%;
        height: 250px;
        margin-left: 0px;
        background-image: url(images/eye.jpg);
    }

    #img2{
        width: 100%;
        height: 250px;
        margin-left: 0px;
        background-image: url(images/mission.jpg);
    }

    #img3{
        width: 100%;
        height: 250px;
        margin-left: 0px;
        background-image: url(images/wear.jpg); 
    }
    
     /*vision-mission responsive ends here */

/* before-button responsive starts here */
     #before1{
        width: 100%;
        height: 100%;
        margin-left: 0px;
    }
    
    #before2{
        width: 100%;
        height: 90%;
        margin-left: 0px;
    }

    #before-button{
        display: block;
    }
    /* before-button responsive ends here */

/* This is form0 responsive */
    #form0{
        width: 100%;
        margin-left: 0px;
    }

    #form1{
        background:white;
        width: 100%;
        border:groove  rgba(196, 1, 159, 1) ;
        margin-left: 0px;
        border-radius: 20px;
    }
    /* form0 responsive ends here */

    /* this is top responsive */
    #top p{
        text-align: center;     
    }
 /* top responsive ends here */

/* this is footer responsive */
#footer a{
    color: white;
    padding-left: 0px;
}
/* footer responsive ends here */
}
/* end of mobile responsive */
